* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-position: center;
  background-size: auto;
  background-color: #ff7978;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 80px 10%;
}

.left {
  color: #fff;
  width: 50%;
  padding: 0 2%;
}

h1 {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 24px;
}

p {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}

.right {
  width: 50%;
  padding: 0 2%;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 32px 4%;
  }

  .left {
    width: 100% !important;
    text-align: center;
    padding: 0;
  }

  .right {
    width: 100% !important;
    padding: 0;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
}
