.container {
  height: 72px;
  background-color: #5d54a3;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 8px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0 5%;
}

@media (max-width: 1000px) {
  .container {
    font-size: 14px;
  }
}
